Package: com.yourepo.kyoko-no-basuketto.subete-anemone
Name: Subete - Anemone
Version: 1.7
Architecture: iphoneos-arm
Description: Subete theme (Anemone)
Author: Kyoko Gunma (SweetxKiss)
Section: Themes

