Package: indigo9
Name: Indigo IOS 9
Version: 1.0
Architecture: iphoneos-arm
Description: Indigo IOS 9 for 9 & 10
Section: Themes
Author: xSYDx <sidkskyl1n3@gmail.com>
Maintainer: xSYDx <sidskyl1n3@gmail.com>
