Package: tinybar
Name: TinyBar
Version: 0.1.8
Architecture: all
Description: Thins notification banners down to size!
Section: Tweaks
Priority: optional
Author: Alex Zielenski <http://www.alexzielenski.com>
Maintainer: xSYDx <sidskyl1n3@gmail.com>
Depends: mobilesubstrate, preferenceloader, applist
