Package: kempii
Name: KempII theme
Version: 1.0
Architecture: all
Description: A colorful iPhone theme for Anemone by @Sn0wd3n.
Section: Themes
Author: xSYDx <sidkskyl1n3@gmail.com>
Maintainer: xSYDx <sidskyl1n3@gmail.com>
